*{
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}
body {
    display: flex;
    flex-direction: column;
    margin: 19px;

    align-items: center;
}
@keyframes real {
    0% {text-shadow: -3px -1px 2px #fff;
        text-shadow: -3px -1px 2px red;
        text-shadow: -3px -1px 2px #fff;
        text-shadow: -3px -1px 2px red;}
    50% {    text-shadow: 
        2px 2px 1px red, 
        -2px -2px 1px #fff, 
        2px -2px 1px red, 
        -2px 2px 1px #fff;}
    100% {text-shadow: -3px -1px 2px #fff;
        text-shadow: -3px -1px 2px red;
        text-shadow: -3px -1px 2px #fff;
        text-shadow: -3px -1px 2px red;}
    
}
h1{
    
    background-image: url("animated-fire.gif");
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
    padding: 15px;
    color:black;
    /*text-shadow: 3px 1px 2px red;*/
    animation-name: real;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    font-size: 32px;
    transform: scale(.9, 2);
}
#enclosure {
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;

}
label {
        display: inline-block;
        font-size: 32px;
        transform: scale(.5, 2);
        margin-right: -100px;
}
#input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-left: -60px;
}

#enter {
    display: flex;
    flex-direction: column;
    border:2px solid black;

}
#buttons{
    display: flex;
}
#SEXY{
    font-size: 8px;
}
button{
    flex:1;
}
#item {
    height: 20px;
}